Drag this into the _data folder or set directories for the parquet files

In [3]:
import pandas as pd
import numpy as np

CDSs = pd.read_parquet("markit_cds.parquet")
bonds = pd.read_parquet("mergent_bond.parquet")
mapping = pd.read_parquet("RED_and_ISIN_mapping.parquet")
wbonds = pd.read_parquet("wrds_bond.parquet")

In [93]:
CDSs

,date,ticker,redcode,parspread,avrating,tenor,tier,country,year
0,2011-01-03,A,008CA0,0.014559,BBB,10,SNRFOR,United States,2011
1,2011-01-03,A,008CA0,0.014559,BBB,10,SNRFOR,United States,2011
2,2011-01-03,A,008CA0,0.004886,BBB,1,SNRFOR,United States,2011
3,2011-01-03,A,008CA0,0.004886,BBB,1,SNRFOR,United States,2011
4,2011-01-03,A,008CA0,0.008762,BBB,3,SNRFOR,United States,2011
...,...,...,...,...,...,...,...,...,...
57600829,2023-12-29,YUM,9HGCDH,0.011686,BB,7,SNRFOR,United States,2023
57600830,2023-12-29,YUM,9HGCDH,0.011686,BB,7,SNRFOR,United States,2023
57600831,2023-12-29,YUM,9HGCDH,0.011686,BB,7,SNRFOR,United States,2023
57600832,2023-12-29,YUM,9HGCDH,0.011686,BB,7,SNRFOR,United States,2023
57600833,2023-12-29,YUM,9HGCDH,0.011365,BB,7,SNRFOR,United States,2023

In [91]:
import pandas as pd
import numpy as np
cds1 = pd.read_parquet("markit_cds_1.parquet")
cds2 = pd.read_parquet("markit_cds_2.parquet")
cds1

,date,ticker,redcode,parspread,avrating,tenor,tier,country,year
0,2002-01-01,ABT,002AA6,0.002500,A,10Y,SNRFOR,United States,2002
1,2002-01-01,ABT,002AA6,0.002500,A,10Y,SNRFOR,United States,2002
2,2002-01-01,ABT,002AA6,0.001700,A,3Y,SNRFOR,United States,2002
3,2002-01-01,ABT,002AA6,0.001700,A,3Y,SNRFOR,United States,2002
4,2002-01-01,ABT,002AA6,0.002050,A,5Y,SNRFOR,United States,2002
...,...,...,...,...,...,...,...,...,...
19287887,2011-12-30,MCK,UZDD52,0.004725,BBB,7Y,SNRFOR,United States,2011
19287888,2011-12-30,MCK,UZDD52,0.004725,BBB,7Y,SNRFOR,United States,2011
19287889,2011-12-30,MCK,UZDD52,0.004725,BBB,7Y,SNRFOR,United States,2011
19287890,2011-12-30,MCK,UZDD52,0.004586,BBB,7Y,SNRFOR,United States,2011
19287891,2011-12-30,MCK,UZDD52,0.004586,BBB,7Y,SNRFOR,United States,2011

In [92]:
cds2

,date,ticker,redcode,parspread,avrating,tenor,tier,country,year
0,2012-01-02,ABT,002AA6,0.008876,A,7Y,SNRFOR,United States,2012
1,2012-01-03,ABT,002AA6,0.007634,A,5Y,SNRFOR,United States,2012
2,2012-01-04,ABT,002AA6,0.009863,A,10Y,SNRFOR,United States,2012
3,2012-01-05,ABT,002AA6,0.008979,A,7Y,SNRFOR,United States,2012
4,2012-01-06,ABT,002AA6,0.007535,A,5Y,SNRFOR,United States,2012
...,...,...,...,...,...,...,...,...,...
26026761,2023-12-28,MCK,UZDD52,0.001072,BBB,1Y,SNRFOR,United States,2023
26026762,2023-12-28,MCK,UZDD52,0.001082,BBB,1Y,SNRFOR,United States,2023
26026763,2023-12-28,MCK,UZDD52,0.001082,BBB,1Y,SNRFOR,United States,2023
26026764,2023-12-28,MCK,UZDD52,0.001040,BBB,1Y,SNRFOR,United States,2023
26026765,2023-12-28,MCK,UZDD52,0.001040,BBB,1Y,SNRFOR,United States,2023

In [12]:
mapping.dropna(inplace=True)
mapping["issuer_cusip"] = mapping.apply(lambda row: row['obl_cusip'][:6], axis = 1)	
mapping

      redcode      ticker  obl_cusip          isin    tier issuer_cusip
0      001AEC           T  001957AV1  US001957AV12  SNRFOR       001957
1      001AEC           T  001957BC2  US001957BC22  SNRFOR       001957
2      001AEC           T  001957AP4  US001957AP44  SNRFOR       001957
3      001AEC           T  001957BD0  US001957BD05  SNRFOR       001957
4      002AA6         ABT  002824AK6  US002824AK63  SNRFOR       002824
...       ...         ...        ...           ...     ...          ...
10377  YZ79AI       KAWAH  Y1636YAG3  XS0205831851  SNRFOR       Y1636Y
10378  YZ79CL  CITPAC-Fin  G2154WAA0  USG2154WAA02  SNRFOR       G2154W
10384  YZ7C7O      CMCOMP  G2233YAA1  USG2233YAA13  SNRFOR       G2233Y
10385  YZ9A6N     CTBCFIN  DUMYREFOB  XSNOREFOBL00  SNRFOR       DUMYRE
10386  YZAA86   DAHSIN-Bk  G2736LAB9  HK0000028842  SNRFOR       G2736L

[7668 rows x 6 columns]

<span style="color: Cyan; font-size: 35px">
USING NEW BONDS TABLE
</span>

In [65]:
wbonds = pd.read_parquet("wrds_bond.parquet")
wbonds

,offering_date,company_symbol,maturity,amount_outstanding,security_level,yield,cusip,isin,conv,offering_price,price_eom,t_spread,principal_amt,maturity_time_frame,rating
date,,,,,,,,,,,,,,,
2002-07-31,1993-10-12,AIR,2003-10-15,50000.0,SEN,0.048266,000361AB1,US000361AB18,0.0,100.0,102.791000,NaN,1000.0,10,1
2002-08-31,1993-10-12,AIR,2003-10-15,50000.0,SEN,0.043858,000361AB1,US000361AB18,0.0,100.0,103.089000,NaN,1000.0,10,1
2002-09-30,1993-10-12,AIR,2003-10-15,50000.0,SEN,0.041222,000361AB1,US000361AB18,0.0,100.0,103.143000,NaN,1000.0,10,1
2002-10-31,1993-10-12,AIR,2003-10-15,50000.0,SEN,0.038728,000361AB1,US000361AB18,0.0,100.0,103.143000,NaN,1000.0,10,1
2002-11-30,1993-10-12,AIR,2003-10-15,50000.0,SEN,0.040151,000361AB1,US000361AB18,0.0,100.0,102.750000,0.034101,1000.0,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-31,2024-03-25,BCS,2026-03-27,13748.0,SEN,0.003740,06745Q3E7,US06745Q3E77,0.0,100.0,99.250000,NaN,1000.0,2,1
2024-03-31,2024-03-25,BCS,2029-03-29,11765.0,SEN,0.003428,06748L453,US06748L4538,0.0,100.0,9.828117,NaN,10.0,5,1
2024-04-30,2024-03-25,BCS,2029-03-29,11765.0,SEN,0.003485,06748L453,US06748L4538,0.0,100.0,9.828117,NaN,10.0,5,1
2024-05-31,2024-03-25,BCS,2029-03-29,11765.0,SEN,0.003547,06748L453,US06748L4538,0.0,100.0,9.828117,NaN,10.0,5,1
2024-03-31,2024-03-26,UBS,2026-03-30,26639.0,SEN,0.004925,90303D791,US90303D7912,0.0,100.0,9.901010,NaN,10.0,2,1

In [66]:
redcode_mapping = mapping.set_index("obl_cusip")["redcode"].to_dict()

wbonds["redcode"] = wbonds["cusip"].map(redcode_mapping)
wbonds = wbonds.dropna(subset=['redcode', 'yield','price_eom', "cusip", "isin"])

wbonds.sort_index()

wbonds

,offering_date,company_symbol,maturity,amount_outstanding,security_level,yield,cusip,isin,conv,offering_price,price_eom,t_spread,principal_amt,maturity_time_frame,rating,redcode
date,,,,,,,,,,,,,,,,
2002-07-31,1995-02-16,WYE,2005-02-15,1000000.0,SEN,0.052477,026609AE7,US026609AE79,0.0,99.805,106.262285,0.013846,1000.0,9,0,9HB326
2002-08-31,1995-02-16,WYE,2005-02-15,1000000.0,SEN,0.040351,026609AE7,US026609AE79,0.0,99.805,108.930922,0.006612,1000.0,9,0,9HB326
2002-09-30,1995-02-16,WYE,2005-02-15,1000000.0,SEN,0.035810,026609AE7,US026609AE79,0.0,99.805,109.723387,0.007890,1000.0,9,0,9HB326
2002-10-31,1995-02-16,WYE,2005-02-15,1000000.0,SEN,0.036073,026609AE7,US026609AE79,0.0,99.805,109.325787,0.004066,1000.0,9,0,9HB326
2002-11-30,1995-02-16,WYE,2005-02-15,1000000.0,SEN,0.037400,026609AE7,US026609AE79,0.0,99.805,108.708000,0.004480,1000.0,9,0,9HB326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-31,2024-02-15,INTC,2034-02-21,900000.0,SEN,0.050937,458140CL2,US458140CL20,0.0,99.706,100.434590,0.000987,1000.0,10,0,49D954
2024-02-29,2024-02-22,CAT,2029-02-27,600000.0,SEN,0.048081,14913UAJ9,US14913UAJ97,0.0,99.864,100.190175,0.000793,1000.0,5,0,15DA2S
2024-03-31,2024-02-22,CAT,2029-02-27,600000.0,SEN,0.046884,14913UAJ9,US14913UAJ97,0.0,99.864,100.703493,0.000852,1000.0,5,0,15DA2S
2024-03-31,2024-02-22,ABBV,2029-03-15,2500000.0,SEN,0.047510,00287YDS5,US00287YDS54,0.0,99.793,100.192487,0.000555,1000.0,5,0,002AF5
2024-03-31,2024-03-04,CB,2034-03-15,1000000.0,SEN,0.049459,171239AK2,US171239AK24,0.0,99.648,100.398390,0.000779,1000.0,10,0,1I835K

In [67]:
wbonds.loc[~((wbonds['yield'] > 0) & (wbonds['yield'] < 0.5))] = np.nan
wbonds.dropna(subset = "yield", inplace = True)
wbonds = wbonds[wbonds['amount_outstanding'] >= 100000]

C:\Users\vugvu\AppData\Local\Temp\ipykernel_24424\3355583353.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wbonds.dropna(subset = "yield", inplace = True)

In [68]:
wbonds['year'] = pd.to_datetime(wbonds.index).year

red_code_dict = {}

for y in list(wbonds['year'].unique()):
    y_df = wbonds[wbonds['year'] == y]
    red_code_dict[y] = list(y_df['redcode'].unique())

C:\Users\vugvu\AppData\Local\Temp\ipykernel_24424\594307929.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wbonds['year'] = pd.to_datetime(wbonds.index).year

In [ ]:
import json
with open("red_code_dict.json", "r") as file:
    red_code_dict = json.load(file)
red_code_dict[2002]

['9HB326',
 '5F0694',
 '7CDA22',
 '2E376K',
 '5A788N',
 '7CD921',
 'GK6AFO',
 '7I544A',
 '8GA758',
 '5CFC95',
 '9A479B',
 '08GE66',
 '279AEF',
 '59DDA9',
 '1E786B',
 '6FC7CB',
 '5J4466',
 '1C8747',
 '7DDEC9',
 '7BC9GG',
 '6EC42I',
 '5CD823',
 '469FEC',
 '4CA8ES',
 '06DG91',
 '5F1148',
 '7FC84P',
 '0D874B',
 '7FC7AC',
 '0C4291',
 '67AD8J',
 '7CA622',
 '8DA533',
 '7C547B',
 '4J7974',
 '39ABD6',
 '4CECCQ',
 '03BA44',
 '07AC92',
 '5D8148',
 '7C833A',
 '8HBAHC',
 '7EAC93',
 '999B35',
 '997F99',
 '4J67DY',
 '2F4123',
 '6CD9A9',
 '7FEA6B',
 '1B124A',
 '7F8168',
 '255AA2',
 '3BA7A5',
 '4G537B',
 '9A442R',
 '37DF94',
 '003CB6',
 '1F79BD',
 '333C91',
 '9J287V',
 '1F445B',
 '3A7486',
 '26B72T',
 '3J8552',
 '3BA5BG',
 '3AGC87',
 'G0HA64',
 '57BGE9',
 'UW2664',
 '9D68EB',
 '6F97DE',
 '6A4224',
 '994ADE',
 '2I6003',
 '8FA47E',
 'U0B887',
 '8I3422',
 '7H1189',
 '555DE8',
 '4F985B',
 '5CE789',
 '1D8934',
 '1F444H',
 '4I518M',
 '5H99BW',
 '6FGGC6',
 '058B87',
 '224DA3',
 '002AA6',
 '8HF64B',
 '258DD6',
 'GPHDBR',
 '7GCAE3',
 '9HC533',
 '2C02BY',
 '2H946D',
 '8J554S',
 'UA99CI',
 '4E6837',
 '1G6444',
 '898CBB',
 '1D8728',
 '1B59DY',
 '4F498H',
 '6BABCA',
 '9J366H',
 '137DHF',
 '4DD9A5',
 '49EB20',
 '2F664B',
 '5E919G',
 '4E17FH',
 '9HA32G',
 '09IG96',
 '4J7538',
 'UW6863',
 '23AC85',
 '258D92',
 '8GC746',
 '2C5899',
 '01AED5',
 '8J897Y',
 '0A226X',
 '4J8456',
 '8FGIB2',
 '6CFGE3',
 '995AD9',
 '9BBA76',
 '2E45A1',
 '027EC5',
 'U2D947',
 '228A7K',
 '7B7751',
 '26AF99',
 '2AB69R',
 '0E8624',
 '2G65AM',
 '7D67CE',
 '7B5AC5',
 'UV4BB4',
 '0A143H',
 '8B47LG',
 'GPA77I',
 '3D27C8',
 '5AB77V',
 '0A115A',
 '03AABH',
 '3C95BE',
 '4C933G',
 '0A39D9',
 '6AC858',
 '6B76CM',
 '9A9GEC',
 '8ECE91',
 '9C4256',
 '898D6N',
 '256BB8',
 'DE7CEZ',
 '0A484E',
 '23A925',
 '6FC856',
 '137AD9',
 '4BF976',
 '8B759A',
 '7FEB65',
 '7B6989',
 '15DA35',
 '5C8A93',
 '28A7CZ',
 '8CBCAK',
 '2A9122',
 '992BA2',
 '46A89Q',
 '779F94',
 '1H728W',
 '2ADBC7',
 '17CDDA',
 '05C946',
 '2I9887',
 '2H767T',
 'GOC44K',
 '5DB667',
 '7EC8A8',
 '7D79B4',
 '0C2002',
 '8EED89',
 '7BDA33',
 '58CHB3',
 '39E84T',
 '8GB4AI',
 '4C807B',
 '237EB4',
 '8F9794',
 '3J79EI',
 '5I378G',
 '9F847C',
 '5H39EB',
 '47A77D',
 '8FD73G',
 '6D71AN',
 '0F9733',
 '07GHE6',
 '897ED6',
 '6B865X',
 '47BD67',
 '888D64',
 '9GDEA8',
 '0F889V',
 '225ED8',
 '6H686A',
 '26BA97',
 '28A85G',
 '2BIH88',
 '0B436E',
 '8A22AS',
 '8HD58L',
 '09C9D8',
 '9HG88N',
 '885DC8',
 '2G85AI',
 '229A22',
 '9F9652',
 '4G565A',
 '1AD578',
 '789D57',
 '7B419H',
 '59CEC7',
 '019G82',
 '3H994Q',
 '6FC86U',
 '6B679C',
 '2AB68U',
 '457B66',
 '1G7543',
 '19C952',
 '27CBAF',
 '7D628Z',
 '5F04AD',
 '014B98',
 '9B7A78',
 '9BABC3',
 'UW239K',
 '027EA6',
 '2BA112',
 '2F642S',
 '018A97',
 '59A97B',
 'PR478W',
 '4E452A',
 '27BCCF',
 '36C933',
 '5A831E',
 '8FGCBA',
 '5CEEEF',
 '5B87BD',
 '16BD70',
 '994BDA',
 '994BFC',
 '1C2114',
 '2E6448',
 '6I207D',
 '9A456T',
 '4DC6A3',
 'UX4674',
 '9HBBHK',
 '7AAB56',
 '05ABAI',
 '189BFD',
 '7CDGCV',
 '8D728N',
 '8J3644',
 '29FGEB',
 '1D877L',
 '6A59CJ',
 '5A98CY',
 '2BCAGB',
 '4CECCI',
 '6BBBBF',
 '19H959',
 '1F444N',
 '6BADC8',
 '9A9A24',
 '9D516R',
 '1E447B',
 '1F55D7',
 '8B5321',
 '7B7589',
 '9J2329',
 '9A4318',
 '6B63B9',
 '46A844',
 'NR6BGI',
 '28EGCE',
 '0A8985',
 '28A8JG',
 '09G715',
 '9A67BM',
 '138A48',
 '008HA7',
 '5CB9EI',
 '7FBBFN',
 '4I56CM',
 '6BA9CX',
 '28E97R',
 '1AA337',
 '7DD92F',
 '9GB6A8',
 '9GDCBC',
 '6B9BAT',
 '8EDDAT',
 '5CFDEB',
 '6EA8E8',
 '8GFA4A',
 '9HGCDH',
 '8GFA48',
 '7I2133',
 '0C596X',
 '7J68BG',
 '8F95AC',
 'CKGB9C',
 '9BADC3',
 '3D177O',
 '3AA64G',
 '027A8A',
 '475ACC',
 '1D39HN',
 '2A9125',
 'CJB53E',
 '8E831M',
 '38E96G',
 '2F6664',
 '8FGG8N',
 '463AB6',
 '7I898B',
 '5CGDCH',
 '8AAG87',
 '8HCBB3',
 '7BCB7P',
 '8FC639',
 '29EBA7',
 '576D91',
 '3E56A5',
 '02BIA3',
 '5CA5AC',
 '28EFDC',
 '2D139V',
 '5F027A',
 '4CFFB9',
 '138CB5',
 '898A52',
 '8E76DH',
 '17B67D',
 '6CCE88',
 '2E795M',
 '6FC7BD',
 '7E99AC',
 '488CDE',
 '7FDE95',
 '0I9577',
 '1AA35H',
 '3E7958',
 '8B6337',
 '6B9516',
 '24AA49',
 '9FFD9C',
 '4A615A',
 '03AD6A',
 '09A8GG',
 '0D47B7',
 '7BDA4H',
 '6EA8EV',
 '69CC7I',
 '027D97',
 '225DGF',
 '1B9947',
 '9B579K',
 '7B466C',
 '1E99AC',
 '2H698G',
 '1C1134',
 '6G039T',
 '4DB5BE',
 '08FFD6',
 '24BD6E',
 '37A69A',
 '4G444I',
 '137A59',
 '6A78DN',
 'CDAF7X',
 '9J2336',
 '7B56CR',
 '9BBGDF',
 '5F07CS',
 '34AIF9',
 '0I85AL',
 '6FC98D',
 '7H06F9',
 '9E55E9',
 '9B578X',
 '36AGC5',
 '8GD65J',
 '07CD92',
 '8GB523',
 '1I8355',
 '2BD88Z',
 '6FC98F',
 '5EA6BX',
 'U3A24C',
 '7C5259',
 '9A5D96',
 '6DB9EI',
 '4F115W',
 '46AA59',
 '5I59ED',
 '0D37AH',
 '5I759F',
 '7B7646',
 '6E86CB',
 '26ACEG',
 '4G975B',
 '3C907E',
 '3E6945',
 '7CEC86',
 '3B955H',
 '576D98',
 '0F85B0',
 'GPHABM',
 '569C7C',
 '2E7977',
 '1F885V',
 '9CCC54',
 '8G836J',
 '9DDGAK',
 '8B546C',
 '9B578Y',
 '9DCFB5',
 'UZDD52',
 '885DHV',
 '9DDGBA',
 '8C67DF',
 '6I209O',
 '8HB568',
 '019G83',
 '6FC87L',
 '03CEDC',
 '39FF84',
 '3A7367',
 '8F95BC',
 '7B9DFM',
 '9B5780',
 '5E901L',
 '018A99',
 '0E45AA',
 '8C8BB5',
 '2F65BC',
 '5BBDCD',
 '69AB75',
 '49EGB9',
 '4A66F9',
 '0A3576',
 '39AB97',
 '5A7AC9',
 '2H68GV',
 '5I569C',
 '2H66EA',
 '7B405U',
 '0A4848',
 '2D13A8',
 '9B5781',
 '8FGFFW',
 '29EB75',
 '678B8A',
 '9DB77B',
 '244AE8',
 '3F25AW',
 '4E4682',
 '9AAA4I',
 '0G655D',
 '9J26DD',
 '688D88',
 '9AAA2G',
 '4I5993',
 '7D79AM',
 '3J758C',
 '3D177N',
 '9HC57C',
 '1C37DD',
 '9J28B8',
 '0C204K',
 '8B301Q',
 '48C85A',
 '4E455P',
 '69BE73',
 '4B812Z',
 '28C95S',
 '1ADCBI',
 '29F85D',
 '27BC65',
 '5DHHC2',
 '1F8555',
 '9DDGAY',
 '228A7H',
 '9A389S',
 '6H27C2',
 '7FC86R',
 '03BDKS',
 '3AGE9D',
 '136CDC',
 '2I6597',
 '7A48GY',
 '1I96CZ',
 '7EGBAN',
 '8FFFB8',
 '1E99BD',
 'UC92A9',
 '789A77',
 '9A67AH',
 '48B71R',
 '0D875J',
 '9F837C',
 '0F8665',
 '0F87CC',
 '2E6494',
 '3AA667',
 '1E6444',
 '4DI90F',
 '1G626K',
 '8GB68R',
 'UW6BFH',
 '68BEC8',
 '6B634B']

In [ ]:
CDSs.dropna(subset=["parspread"], inplace=True)

In [47]:
bond_average = wbonds.groupby([wbonds.index, 'redcode','maturity_time_frame'])['yield'].mean()

bond_average

date        redcode  maturity_time_frame
2002-07-31  002AA6   10.0                   0.047273
            003CB6   10.0                   0.078488
            014B98   10.0                   0.053955
            018A97   4.0                    0.114206
            018A99   9.0                    0.091530
                                              ...
2024-03-31  UU2679   8.0                    0.069602
                     9.0                    0.065308
            UW8EGE   10.0                   0.064487
            Y07CDL   9.0                    0.055996
2024-04-30  1D8745   10.0                   0.047623
Name: yield, Length: 176038, dtype: float64

In [54]:
CDSs['tenor'] = CDSs.loc[:,"tenor"].str.split('Y').str.join('').astype(int)

,date,ticker,redcode,parspread,avrating,tenor,tier,country,year
0,2011-01-03,A,008CA0,0.014559,BBB,10,SNRFOR,United States,2011
1,2011-01-03,A,008CA0,0.014559,BBB,10,SNRFOR,United States,2011
2,2011-01-03,A,008CA0,0.004886,BBB,1,SNRFOR,United States,2011
3,2011-01-03,A,008CA0,0.004886,BBB,1,SNRFOR,United States,2011
4,2011-01-03,A,008CA0,0.008762,BBB,3,SNRFOR,United States,2011
...,...,...,...,...,...,...,...,...,...
57600829,2023-12-29,YUM,9HGCDH,0.011686,BB,7,SNRFOR,United States,2023
57600830,2023-12-29,YUM,9HGCDH,0.011686,BB,7,SNRFOR,United States,2023
57600831,2023-12-29,YUM,9HGCDH,0.011686,BB,7,SNRFOR,United States,2023
57600832,2023-12-29,YUM,9HGCDH,0.011686,BB,7,SNRFOR,United States,2023
57600833,2023-12-29,YUM,9HGCDH,0.011365,BB,7,SNRFOR,United States,2023

In [57]:
CDSs['date'].describe()

count                         57404205
mean     2017-03-29 04:04:50.832851200
min                2011-01-03 00:00:00
25%                2014-03-03 00:00:00
50%                2016-12-30 00:00:00
75%                2020-04-10 00:00:00
max                2023-12-29 00:00:00
Name: date, dtype: object

In [ ]:
group_average = CDSs.groupby(['date', 'redcode'])['parspread'].mean()

group_average

date        redcode
2001-01-02  001AEC     0.014781
            027D97     0.002830
            04A603     0.004650
            06A65D     0.006122
            07AC92     0.008998
                         ...
2023-12-29  UW8EGE     0.008070
            UX4674     0.018338
            UY955C     0.158993
            UZDA8D     0.022927
            UZDD52     0.004111
Name: parspread, Length: 5001668, dtype: float64

In [ ]:
cds_spread_df = group_average.to_frame()
bond_spread_df = bond_average.to_frame()

In [ ]:
bond_spread_df

                       yield
date       redcode
2002-07-31 002AA6   0.047273
           003CB6   0.078488
           014B98   0.053955
           018A97   0.114206
           018A99   0.091530
...                      ...
2024-05-31 6BA548   0.072303
2024-06-30 5C77CE   0.060650
           6BA548   0.079426
2024-07-31 5C77CE   0.061792
2024-08-31 5C77CE   0.063222

[144579 rows x 1 columns]

In [ ]:
cds_spread_df

                    parspread
date       redcode
2001-01-02 001AEC    0.014781
           027D97    0.002830
           04A603    0.004650
           06A65D    0.006122
           07AC92    0.008998
...                       ...
2023-12-29 UW8EGE    0.008070
           UX4674    0.018338
           UY955C    0.158993
           UZDA8D    0.022927
           UZDD52    0.004111

[5001668 rows x 1 columns]

In [ ]:
joined_df = bond_spread_df.join(cds_spread_df, how='inner')

In [ ]:
classification = wbonds[["redcode","rating"]]
df1_reset = joined_df.reset_index()

# Merge on the 'first' column
merged_df = pd.merge(df1_reset, classification, on=['redcode',"date"], how='right')

In [ ]:
merged_df.dropna(inplace=True)

In [ ]:
merged_df.set_index(['date'], inplace= True)

merged_df.sort_index(inplace=True)
merged_df.reset_index(inplace=True)
merged_df.set_index(['date', 'redcode'], inplace= True)
merged_df

                       yield  parspread  rating
date       redcode
2002-07-31 9HB326   0.052477   0.021188     0.0
           39FF84   0.057265   0.006548     1.0
           5H99BW   0.210971   0.282787     1.0
           6FGGC6   0.087077   0.029000     1.0
           3E56A5   0.058903   0.005960     1.0
...                      ...        ...     ...
2023-11-30 3J758C   0.056651   0.015680     0.0
           2C033N   0.053004   0.004853     0.0
           49EB20   0.050556   0.004341     0.0
           2F664B   0.054276   0.005773     0.0
           3H994Q   0.065285   0.019879     0.0

[118984 rows x 3 columns]

In [ ]:
rows_with_A = merged_df.xs('2002-07-31', level='date')
print(rows_with_A)

            yield  parspread  rating
redcode
9HB326   0.052477   0.021188     0.0
39FF84   0.057265   0.006548     1.0
5H99BW   0.210971   0.282787     1.0
6FGGC6   0.087077   0.029000     1.0
3E56A5   0.058903   0.005960     1.0
...           ...        ...     ...
8GA758   0.044442   0.005250     1.0
7BDA4H   0.255778   0.385672     1.0
5A788N   0.058801   0.021344     1.0
5I759F   0.060080   0.008000     1.0
6E86CB   0.079560   0.018080     1.0

[328 rows x 3 columns]

In [ ]:
merged_df.loc[('2002-07-31', '7BDA4H')]

C:\Users\vugvu\AppData\Local\Temp\ipykernel_26036\703765127.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  merged_df.loc[('2002-07-31', '7BDA4H')]

               yield  parspread  rating
date
2002-07-31  0.255778   0.385672     1.0
2002-07-31  0.255778   0.385672     1.0

In [ ]:
duplicates = rows_with_A.duplicated()
print("Duplicates (excluding first occurrence):")
print(duplicates)

# To see all duplicates (marking every occurrence as True), use keep=False
all_duplicates = rows_with_A.duplicated(keep=False)
print("\nAll duplicates (every duplicate row marked True):")
print(all_duplicates)

# Get a DataFrame containing only the duplicate rows
duplicate_rows = rows_with_A[rows_with_A.duplicated(keep=False)]
print("\nDuplicate rows:")
print(duplicate_rows)

# Check if there are any full duplicate rows in the DataFrame
has_duplicates = rows_with_A.duplicated().any()
print("\nAre there any duplicate rows?", has_duplicates)

Duplicates (excluding first occurrence):
redcode
9HB326    False
39FF84    False
5H99BW    False
6FGGC6    False
3E56A5    False
          ...
8GA758    False
7BDA4H     True
5A788N     True
5I759F    False
6E86CB    False
Length: 328, dtype: bool

All duplicates (every duplicate row marked True):
redcode
9HB326    False
39FF84     True
5H99BW    False
6FGGC6    False
3E56A5    False
          ...
8GA758    False
7BDA4H     True
5A788N     True
5I759F    False
6E86CB    False
Length: 328, dtype: bool

Duplicate rows:
            yield  parspread  rating
redcode
39FF84   0.057265   0.006548     1.0
0D874B   0.051936   0.002447     1.0
8FA47E   0.080355   0.041664     0.0
189BFD   0.057217   0.008604     1.0
8AAG87   0.057414   0.010444     1.0
...           ...        ...     ...
1E786B   0.050635   0.004830     1.0
59DDA9   0.198244   0.191104     1.0
279AEF   0.054620   0.011750     1.0
7BDA4H   0.255778   0.385672     1.0
5A788N   0.058801   0.021344     1.0

[129 rows x 3 columns]

Are there any duplicate rows? True

In [ ]:
merged_df = merged_df.set_index(['date', 'redcode'])
merged_df['yield'].describe()

count    118984.000000
mean          0.046512
std           0.032605
min           0.000253
25%           0.026277
50%           0.042830
75%           0.057031
max           0.499379
Name: yield, dtype: float64

In [ ]:
joined_df

                       yield  parspread
date       redcode
2002-07-31 002AA6   0.047273   0.002915
           014B98   0.053955   0.003330
           018A97   0.114206   0.050707
           018A99   0.091530   0.058264
           019G83   0.097245   0.015000
...                      ...        ...
2023-11-30 9J127M   0.045791   0.003180
           9J26DD   0.054099   0.006750
           UU2679   0.081321   0.042013
           UW8EGE   0.070404   0.011155
           UZDD52   0.060654   0.004287

[72790 rows x 2 columns]

In [ ]:
unique_first = joined_df.index.get_level_values(0).unique()
print(unique_first)

DatetimeIndex(['2002-07-31', '2002-09-30', '2002-10-31', '2002-12-31',
               '2003-01-31', '2003-02-28', '2003-03-31', '2003-04-30',
               '2003-06-30', '2003-07-31',
               ...
               '2022-11-30', '2023-01-31', '2023-02-28', '2023-03-31',
               '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31',
               '2023-10-31', '2023-11-30'],
              dtype='datetime64[ns]', name='date', length=185, freq=None)