Drag this into the _data folder or setd directories for the parquet files

In [1]:
import pandas as pd

CDSs = pd.read_parquet("markit_cds.parquet")
bonds = pd.read_parquet("mergent_bond.parquet")
mapping = pd.read_parquet("RED_and_ISIN_mapping.parquet")
wbonds = pd.read_parquet("wrds_bond.parquet")

In [2]:
mapping.dropna(inplace=True)
mapping["issuer_cusip"] = mapping.apply(lambda row: row['obl_cusip'][:6], axis = 1)	
mapping

      redcode      ticker  obl_cusip          isin    tier issuer_cusip
0      001AEC           T  001957AV1  US001957AV12  SNRFOR       001957
1      001AEC           T  001957BC2  US001957BC22  SNRFOR       001957
2      001AEC           T  001957AP4  US001957AP44  SNRFOR       001957
3      001AEC           T  001957BD0  US001957BD05  SNRFOR       001957
4      002AA6         ABT  002824AK6  US002824AK63  SNRFOR       002824
...       ...         ...        ...           ...     ...          ...
10374  YZ79AI       KAWAH  Y1636YAG3  XS0205831851  SNRFOR       Y1636Y
10375  YZ79CL  CITPAC-Fin  G2154WAA0  USG2154WAA02  SNRFOR       G2154W
10381  YZ7C7O      CMCOMP  G2233YAA1  USG2233YAA13  SNRFOR       G2233Y
10382  YZ9A6N     CTBCFIN  DUMYREFOB  XSNOREFOBL00  SNRFOR       DUMYRE
10383  YZAA86   DAHSIN-Bk  G2736LAB9  HK0000028842  SNRFOR       G2736L

[7667 rows x 6 columns]

<span style="color: Cyan; font-size: 35px">
USING NEW BONDS TABLE
</span>

In [3]:
wbonds.dropna(subset=["yield", "cusip", "isin"])
wbonds

,offering_date,company_symbol,maturity,amount_outstanding,security_level,yield,cusip,isin,conv,offering_price,price_eom,t_spread,maturity_time_frame,rating
date,,,,,,,,,,,,,,
2002-07-31,1993-10-12,AIR,2003-10-15,50000.0,SEN,0.048266,000361AB1,US000361AB18,0.0,100.0,102.791000,NaN,10,1
2002-08-31,1993-10-12,AIR,2003-10-15,50000.0,SEN,0.043858,000361AB1,US000361AB18,0.0,100.0,103.089000,NaN,10,1
2002-09-30,1993-10-12,AIR,2003-10-15,50000.0,SEN,0.041222,000361AB1,US000361AB18,0.0,100.0,103.143000,NaN,10,1
2002-10-31,1993-10-12,AIR,2003-10-15,50000.0,SEN,0.038728,000361AB1,US000361AB18,0.0,100.0,103.143000,NaN,10,1
2002-11-30,1993-10-12,AIR,2003-10-15,50000.0,SEN,0.040151,000361AB1,US000361AB18,0.0,100.0,102.750000,0.034101,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-31,2024-03-25,BCS,2026-03-27,13748.0,SEN,0.003740,06745Q3E7,US06745Q3E77,0.0,100.0,99.250000,NaN,2,1
2024-03-31,2024-03-25,BCS,2029-03-29,11765.0,SEN,0.003428,06748L453,US06748L4538,0.0,100.0,9.828117,NaN,5,1
2024-04-30,2024-03-25,BCS,2029-03-29,11765.0,SEN,0.003485,06748L453,US06748L4538,0.0,100.0,9.828117,NaN,5,1
2024-05-31,2024-03-25,BCS,2029-03-29,11765.0,SEN,0.003547,06748L453,US06748L4538,0.0,100.0,9.828117,NaN,5,1
2024-03-31,2024-03-26,UBS,2026-03-30,26639.0,SEN,0.004925,90303D791,US90303D7912,0.0,100.0,9.901010,NaN,2,1

In [6]:
redcode_mapping = mapping.set_index("obl_cusip")["redcode"].to_dict()

wbonds["redcode"] = wbonds["cusip"].map(redcode_mapping)
wbonds = wbonds.dropna(subset=['redcode', 'yield','price_eom'])
wbonds.sort_index()

wbonds

C:\Users\vugvu\AppData\Local\Temp\ipykernel_28300\3565808354.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wbonds["redcode"] = wbonds["cusip"].map(redcode_mapping)

,offering_date,company_symbol,maturity,amount_outstanding,security_level,yield,cusip,isin,conv,offering_price,price_eom,t_spread,maturity_time_frame,rating,redcode
date,,,,,,,,,,,,,,,
2002-07-31,1995-02-16,WYE,2005-02-15,1000000.0,SEN,0.052477,026609AE7,US026609AE79,0.0,99.805,106.262285,0.013846,9,0,9HB326
2002-08-31,1995-02-16,WYE,2005-02-15,1000000.0,SEN,0.040351,026609AE7,US026609AE79,0.0,99.805,108.930922,0.006612,9,0,9HB326
2002-09-30,1995-02-16,WYE,2005-02-15,1000000.0,SEN,0.035810,026609AE7,US026609AE79,0.0,99.805,109.723387,0.007890,9,0,9HB326
2002-10-31,1995-02-16,WYE,2005-02-15,1000000.0,SEN,0.036073,026609AE7,US026609AE79,0.0,99.805,109.325787,0.004066,9,0,9HB326
2002-11-30,1995-02-16,WYE,2005-02-15,1000000.0,SEN,0.037400,026609AE7,US026609AE79,0.0,99.805,108.708000,0.004480,9,0,9HB326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-31,2024-02-15,INTC,2034-02-21,900000.0,SEN,0.050937,458140CL2,US458140CL20,0.0,99.706,100.434590,0.000987,10,0,49D954
2024-02-29,2024-02-22,CAT,2029-02-27,600000.0,SEN,0.048081,14913UAJ9,US14913UAJ97,0.0,99.864,100.190175,0.000793,5,0,15DA2S
2024-03-31,2024-02-22,CAT,2029-02-27,600000.0,SEN,0.046884,14913UAJ9,US14913UAJ97,0.0,99.864,100.703493,0.000852,5,0,15DA2S
2024-03-31,2024-02-22,ABBV,2029-03-15,2500000.0,SEN,0.047510,00287YDS5,US00287YDS54,0.0,99.793,100.192487,0.000555,5,0,002AF5
2024-03-31,2024-03-04,CB,2034-03-15,1000000.0,SEN,0.049459,171239AK2,US171239AK24,0.0,99.648,100.398390,0.000779,10,0,1I835K

In [7]:
CDSs.dropna(subset=["parspread"], inplace=True)

In [8]:
bond_average = wbonds.groupby([wbonds.index, 'redcode'])['yield'].mean()

bond_average

date        redcode
2002-07-31  002AA6     0.047273
            003CB6     0.078488
            014B98     0.053955
            018A97     0.114206
            018A99     0.091530
                         ...
2024-05-31  6BA548     0.072303
2024-06-30  5C77CE     0.060650
            6BA548     0.079426
2024-07-31  5C77CE     0.061792
2024-08-31  5C77CE     0.063222
Name: yield, Length: 145176, dtype: float64

In [9]:
group_average = CDSs.groupby(['date', 'redcode'])['parspread'].mean()

group_average

date        redcode
2001-01-02  001AEC     0.014781
            027D97     0.002830
            04A603     0.004650
            06A65D     0.006122
            07AC92     0.008998
                         ...
2023-12-29  UW8EGE     0.008070
            UX4674     0.018338
            UY955C     0.158993
            UZDA8D     0.022927
            UZDD52     0.004111
Name: parspread, Length: 5001668, dtype: float64

In [10]:
cds_spread_df = group_average.to_frame()
bond_spread_df = bond_average.to_frame()

In [11]:
bond_spread_df

                       yield
date       redcode
2002-07-31 002AA6   0.047273
           003CB6   0.078488
           014B98   0.053955
           018A97   0.114206
           018A99   0.091530
...                      ...
2024-05-31 6BA548   0.072303
2024-06-30 5C77CE   0.060650
           6BA548   0.079426
2024-07-31 5C77CE   0.061792
2024-08-31 5C77CE   0.063222

[145176 rows x 1 columns]

In [12]:
cds_spread_df

                    parspread
date       redcode
2001-01-02 001AEC    0.014781
           027D97    0.002830
           04A603    0.004650
           06A65D    0.006122
           07AC92    0.008998
...                       ...
2023-12-29 UW8EGE    0.008070
           UX4674    0.018338
           UY955C    0.158993
           UZDA8D    0.022927
           UZDD52    0.004111

[5001668 rows x 1 columns]

In [13]:
joined_df = bond_spread_df.join(cds_spread_df, how='inner')

In [28]:
classification = wbonds[["redcode","rating"]]
df1_reset = joined_df.reset_index()

# Merge on the 'first' column
merged_df = pd.merge(df1_reset, classification, on=['redcode',"date"], how='left')

In [27]:
df1_reset

            date redcode     yield  parspread
0     2002-07-31  002AA6  0.047273   0.002915
1     2002-07-31  014B98  0.053955   0.003330
2     2002-07-31  018A97  0.114206   0.050707
3     2002-07-31  018A99  0.091530   0.058264
4     2002-07-31  019G83  0.097245   0.015000
...          ...     ...       ...        ...
73030 2023-11-30  9J127M  0.045791   0.003180
73031 2023-11-30  9J26DD  0.054099   0.006750
73032 2023-11-30  UU2679  0.081321   0.042013
73033 2023-11-30  UW8EGE  0.070404   0.011155
73034 2023-11-30  UZDD52  0.060654   0.004287

[73035 rows x 4 columns]

In [29]:
merged_df = merged_df.set_index(['date', 'redcode'])
merged_df

                       yield  parspread  rating
date       redcode
2002-07-31 002AA6   0.047273   0.002915       1
           014B98   0.053955   0.003330       0
           014B98   0.053955   0.003330       0
           014B98   0.053955   0.003330       0
           018A97   0.114206   0.050707       1
...                      ...        ...     ...
2023-11-30 UU2679   0.081321   0.042013       1
           UU2679   0.081321   0.042013       1
           UU2679   0.081321   0.042013       1
           UW8EGE   0.070404   0.011155       1
           UZDD52   0.060654   0.004287       0

[119476 rows x 3 columns]

In [14]:
joined_df

                       yield  parspread
date       redcode
2002-07-31 002AA6   0.047273   0.002915
           014B98   0.053955   0.003330
           018A97   0.114206   0.050707
           018A99   0.091530   0.058264
           019G83   0.097245   0.015000
...                      ...        ...
2023-11-30 9J127M   0.045791   0.003180
           9J26DD   0.054099   0.006750
           UU2679   0.081321   0.042013
           UW8EGE   0.070404   0.011155
           UZDD52   0.060654   0.004287

[73035 rows x 2 columns]

In [16]:
unique_first = joined_df.index.get_level_values(0).unique()
print(unique_first)

DatetimeIndex(['2002-07-31', '2002-09-30', '2002-10-31', '2002-12-31',
               '2003-01-31', '2003-02-28', '2003-03-31', '2003-04-30',
               '2003-06-30', '2003-07-31',
               ...
               '2022-11-30', '2023-01-31', '2023-02-28', '2023-03-31',
               '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31',
               '2023-10-31', '2023-11-30'],
              dtype='datetime64[ns]', name='date', length=185, freq=None)