Drag this into the _data folder or setd directories for the parquet files

In [1]:
import pandas as pd

CDSs = pd.read_parquet("markit_cds.parquet")
bonds = pd.read_parquet("mergent_bond.parquet")
mapping = pd.read_parquet("RED_and_ISIN_mapping.parquet")
wbonds = pd.read_parquet("wrds_bond.parquet")

In [2]:
mapping.dropna(inplace=True)
mapping["issuer_cusip"] = mapping.apply(lambda row: row['obl_cusip'][:6], axis = 1)	
mapping

      redcode      ticker  obl_cusip          isin    tier issuer_cusip
0      001AEC           T  001957AV1  US001957AV12  SNRFOR       001957
1      001AEC           T  001957BC2  US001957BC22  SNRFOR       001957
2      001AEC           T  001957AP4  US001957AP44  SNRFOR       001957
3      001AEC           T  001957BD0  US001957BD05  SNRFOR       001957
4      002AA6         ABT  002824AK6  US002824AK63  SNRFOR       002824
...       ...         ...        ...           ...     ...          ...
10374  YZ79AI       KAWAH  Y1636YAG3  XS0205831851  SNRFOR       Y1636Y
10375  YZ79CL  CITPAC-Fin  G2154WAA0  USG2154WAA02  SNRFOR       G2154W
10381  YZ7C7O      CMCOMP  G2233YAA1  USG2233YAA13  SNRFOR       G2233Y
10382  YZ9A6N     CTBCFIN  DUMYREFOB  XSNOREFOBL00  SNRFOR       DUMYRE
10383  YZAA86   DAHSIN-Bk  G2736LAB9  HK0000028842  SNRFOR       G2736L

[7667 rows x 6 columns]

<span style="color: Cyan; font-size: 35px">
USING NEW BONDS TABLE
</span>

In [3]:
wbonds.dropna(subset=["yield", "cusip", "isin"])
wbonds

,offering_date,company_symbol,maturity,amount_outstanding,security_level,yield,cusip,isin,rating_class,conv,offering_price,price_eom,t_spread,maturity_time_frame
date,,,,,,,,,,,,,,
2002-07-31,1993-10-12,AIR,2003-10-15,50000.0,SEN,0.048266,000361AB1,US000361AB18,1.HY,0.0,100.0,102.791000,NaN,10
2002-08-31,1993-10-12,AIR,2003-10-15,50000.0,SEN,0.043858,000361AB1,US000361AB18,1.HY,0.0,100.0,103.089000,NaN,10
2002-09-30,1993-10-12,AIR,2003-10-15,50000.0,SEN,0.041222,000361AB1,US000361AB18,1.HY,0.0,100.0,103.143000,NaN,10
2002-10-31,1993-10-12,AIR,2003-10-15,50000.0,SEN,0.038728,000361AB1,US000361AB18,1.HY,0.0,100.0,103.143000,NaN,10
2002-11-30,1993-10-12,AIR,2003-10-15,50000.0,SEN,0.040151,000361AB1,US000361AB18,1.HY,0.0,100.0,102.750000,0.034101,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-31,2024-03-25,BCS,2026-03-27,13748.0,SEN,0.003740,06745Q3E7,US06745Q3E77,1.HY,0.0,100.0,99.250000,NaN,2
2024-03-31,2024-03-25,BCS,2029-03-29,11765.0,SEN,0.003428,06748L453,US06748L4538,1.HY,0.0,100.0,9.828117,NaN,5
2024-04-30,2024-03-25,BCS,2029-03-29,11765.0,SEN,0.003485,06748L453,US06748L4538,1.HY,0.0,100.0,9.828117,NaN,5
2024-05-31,2024-03-25,BCS,2029-03-29,11765.0,SEN,0.003547,06748L453,US06748L4538,1.HY,0.0,100.0,9.828117,NaN,5
2024-03-31,2024-03-26,UBS,2026-03-30,26639.0,SEN,0.004925,90303D791,US90303D7912,1.HY,0.0,100.0,9.901010,NaN,2

In [4]:
redcode_mapping = mapping.set_index("obl_cusip")["redcode"].to_dict()

wbonds["redcode"] = wbonds["cusip"].map(redcode_mapping)
wbonds = wbonds.dropna(subset=['redcode', 'yield','price_eom'])
wbonds.sort_index()

wbonds

,offering_date,company_symbol,maturity,amount_outstanding,security_level,yield,cusip,isin,rating_class,conv,offering_price,price_eom,t_spread,maturity_time_frame,redcode
date,,,,,,,,,,,,,,,
2002-07-31,1995-02-16,WYE,2005-02-15,1000000.0,SEN,0.052477,026609AE7,US026609AE79,0.IG,0.0,99.805,106.262285,0.013846,9,9HB326
2002-08-31,1995-02-16,WYE,2005-02-15,1000000.0,SEN,0.040351,026609AE7,US026609AE79,0.IG,0.0,99.805,108.930922,0.006612,9,9HB326
2002-09-30,1995-02-16,WYE,2005-02-15,1000000.0,SEN,0.035810,026609AE7,US026609AE79,0.IG,0.0,99.805,109.723387,0.007890,9,9HB326
2002-10-31,1995-02-16,WYE,2005-02-15,1000000.0,SEN,0.036073,026609AE7,US026609AE79,0.IG,0.0,99.805,109.325787,0.004066,9,9HB326
2002-11-30,1995-02-16,WYE,2005-02-15,1000000.0,SEN,0.037400,026609AE7,US026609AE79,0.IG,0.0,99.805,108.708000,0.004480,9,9HB326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-31,2024-02-15,INTC,2034-02-21,900000.0,SEN,0.050937,458140CL2,US458140CL20,0.IG,0.0,99.706,100.434590,0.000987,10,49D954
2024-02-29,2024-02-22,CAT,2029-02-27,600000.0,SEN,0.048081,14913UAJ9,US14913UAJ97,0.IG,0.0,99.864,100.190175,0.000793,5,15DA2S
2024-03-31,2024-02-22,CAT,2029-02-27,600000.0,SEN,0.046884,14913UAJ9,US14913UAJ97,0.IG,0.0,99.864,100.703493,0.000852,5,15DA2S
2024-03-31,2024-02-22,ABBV,2029-03-15,2500000.0,SEN,0.047510,00287YDS5,US00287YDS54,0.IG,0.0,99.793,100.192487,0.000555,5,002AF5
2024-03-31,2024-03-04,CB,2034-03-15,1000000.0,SEN,0.049459,171239AK2,US171239AK24,0.IG,0.0,99.648,100.398390,0.000779,10,1I835K

In [5]:
CDSs.dropna(subset=["parspread"], inplace=True)

In [14]:
bond_average = wbonds.groupby([wbonds.index, 'redcode'])['yield'].mean()

bond_average

date        redcode
2002-07-31  002AA6     0.047273
            003CB6     0.078488
            014B98     0.053955
            018A97     0.114206
            018A99     0.091530
                         ...
2024-05-31  6BA548     0.072303
2024-06-30  5C77CE     0.060650
            6BA548     0.079426
2024-07-31  5C77CE     0.061792
2024-08-31  5C77CE     0.063222
Name: yield, Length: 145176, dtype: float64

In [6]:
group_average = CDSs.groupby(['date', 'redcode'])['parspread'].mean()

group_average

date        redcode
2001-01-02  001AEC     0.014781
            027D97     0.002830
            04A603     0.004650
            06A65D     0.006122
            07AC92     0.008998
                         ...
2023-12-29  UW8EGE     0.008070
            UX4674     0.018338
            UY955C     0.158993
            UZDA8D     0.022927
            UZDD52     0.004111
Name: parspread, Length: 5001668, dtype: float64

In [ ]:
cds_spread_df = group_average.to_frame()
bond_spread_df = bond_average.to_frame()

In [16]:
bond_spread_df

                       yield
date       redcode
2002-07-31 002AA6   0.047273
           003CB6   0.078488
           014B98   0.053955
           018A97   0.114206
           018A99   0.091530
...                      ...
2024-05-31 6BA548   0.072303
2024-06-30 5C77CE   0.060650
           6BA548   0.079426
2024-07-31 5C77CE   0.061792
2024-08-31 5C77CE   0.063222

[145176 rows x 1 columns]

In [20]:
cds_spread_df

                    parspread
date       redcode
2001-01-02 001AEC    0.014781
           027D97    0.002830
           04A603    0.004650
           06A65D    0.006122
           07AC92    0.008998
...                       ...
2023-12-29 UW8EGE    0.008070
           UX4674    0.018338
           UY955C    0.158993
           UZDA8D    0.022927
           UZDD52    0.004111

[5001668 rows x 1 columns]

In [24]:
joined_df = bond_spread_df.join(cds_spread_df, how='inner')

In [26]:
joined_df

                       yield  parspread
date       redcode
2002-07-31 002AA6   0.047273   0.002915
           014B98   0.053955   0.003330
           018A97   0.114206   0.050707
           018A99   0.091530   0.058264
           019G83   0.097245   0.015000
...                      ...        ...
2023-11-30 9J127M   0.045791   0.003180
           9J26DD   0.054099   0.006750
           UU2679   0.081321   0.042013
           UW8EGE   0.070404   0.011155
           UZDD52   0.060654   0.004287

[73035 rows x 2 columns]

In [25]:
joined_df.head(50)

                       yield  parspread
date       redcode
2002-07-31 002AA6   0.047273   0.002915
           014B98   0.053955   0.003330
           018A97   0.114206   0.050707
           018A99   0.091530   0.058264
           019G83   0.097245   0.015000
           01AED5   0.100352   0.060000
           027A8A   0.065891   0.043236
           027D97   0.042673   0.008891
           027EA6   0.060533   0.004441
           027EC5   0.079494   0.031000
           03AABH   0.036747   0.011239
           03BA44   0.050796   0.005746
           058B87   0.073353   0.031990
           05ABAI   0.061160   0.006367
           05C946   0.055111   0.004434
           07AC92   0.048078   0.008246
           07GHE6   0.054134   0.012029
           09A8GG   0.058193   0.007018
           09C9D8   0.056624   0.008530
           09G715   0.053706   0.007228
           09IG96   0.071101   0.006880
           0A3576   0.057813   0.006685
           0A8985   0.072158   0.019589
           0B436E   0.046318   0.003783
           0C2002   0.047920   0.006677
           0C4291   0.045227   0.015744
           0D47B7   0.140424   0.112228
           0D874B   0.051936   0.002447
           0F9733   0.053638   0.002563
           0H8994   0.045954   0.007788
           137AD9   0.066276   0.032315
           137DHF   0.175225   0.155777
           138A48   0.055755   0.007726
           138CB5   0.043030   0.006074
           15DA35   0.056910   0.005940
           16BD70   0.086175   0.029112
           17B67D   0.085573   0.043500
           17CDDA   0.029063   0.002950
           189BFD   0.057217   0.008604
           19C952   0.088724   0.052554
           19H959   0.053860   0.003837
           1AA337   0.051365   0.002305
           1AD578   0.040638   0.001911
           1B124A   0.051336   0.004378
           1C1134   0.057560   0.009282
           1C8747   0.053815   0.009250
           1D8728   0.084713   0.036292
           1D8934   0.127231   0.097500
           1E447B   0.213858   0.229042
           1E786B   0.050635   0.004830