Drag this into the _data folder or setd directories for the parquet files

In [2]:
import pandas as pd

bonds = pd.read_parquet("mergent_bond.parquet")
mapping = pd.read_parquet("RED_and_ISIN_mapping.parquet")

FileNotFoundError: [Errno 2] No such file or directory: 'mergent_bond.parquet'

In [ ]:
bonds

,offering_date,maturity,amount_outstanding,isin,putable,convertible,security_level,maturity_time_frame
936,1993-12-09,2003-12-20,2050000.0,US040114AH34,N,N,SEN,10
1597,1993-10-29,2003-11-01,200000.0,US059538AC29,N,N,SEN,10
1651,1989-09-13,1999-09-15,250000.0,US063840AE22,N,N,SUB,10
1996,1993-08-24,2003-09-01,105000.0,US087509AL99,N,N,SEN,10
4399,1994-02-24,2004-03-15,75000.0,US233860AB11,N,N,SENS,10
...,...,...,...,...,...,...,...,...
134988,2024-07-09,2030-07-16,10797.0,US17331U4A29,N,N,SEN,6
134994,2024-06-25,2031-07-11,30000.0,US3130B1U548,N,N,SEN,7
134998,2024-07-09,2025-07-11,25000.0,US3130B1XK86,N,N,SEN,1
135003,2024-07-08,2026-07-02,10000.0,US31424WLG59,N,N,SEN,1
135008,2024-07-10,2026-07-15,11775.0,US89115GCQ01,N,N,SEN,2

In [ ]:
mapping

      redcode     ticker  obl_cusip          isin    tier
0      001AEC          T  001957AV1  US001957AV12  SNRFOR
1      001AEC          T  001957BC2  US001957BC22  SNRFOR
2      001AEC          T  001957AP4  US001957AP44  SNRFOR
3      001AEC          T  001957BD0  US001957BD05  SNRFOR
4      002AA6        ABT  002824AK6  US002824AK63  SNRFOR
...       ...        ...        ...           ...     ...
10382  YZ9A6N    CTBCFIN  DUMYREFOB  XSNOREFOBL00  SNRFOR
10383  YZAA86  DAHSIN-Bk  G2736LAB9  HK0000028842  SNRFOR
10384  YZSR6N    CHINAPE       None  USG8201NAF99  SNRFOR
10385  YZSR6N    CHINAPE       None  USG82016AA75  SNRFOR
10386  YZSR6N    CHINAPE       None  USG8201NAC68  SNRFOR

[10387 rows x 5 columns]

In [ ]:
redcode_mapping = mapping.set_index("isin")["redcode"].to_dict()

bonds["redcode"] = bonds["isin"].map(redcode_mapping)
bonds = bonds.dropna(subset=['redcode'])
bonds

,offering_date,maturity,amount_outstanding,isin,putable,convertible,security_level,maturity_time_frame,redcode
64399,1999-03-29,2009-04-07,142130.0,US040114BE93,N,N,SEN,10,PP7D7E
70056,1999-07-13,2009-07-15,400000.0,US390568AA15,N,N,SEN,10,3C95BE
90302,2001-04-18,2011-04-15,675000.0,US87406DAC20,N,N,SEN,9,8FB46J
304663,2014-06-19,2024-07-15,300000.0,US42809HAF47,N,N,SEN,10,46A89Q
304749,2014-06-26,2024-07-15,140523.0,US61166WAU53,N,N,SEN,10,6H27C2
...,...,...,...,...,...,...,...,...,...
131660,2024-06-17,2034-06-25,1750000.0,US437076DE95,N,N,SEN,10,47A77D
132021,2024-06-18,2029-06-24,500000.0,US020002BL42,N,N,SEN,5,0C2002
133218,2024-06-24,2030-02-01,1250000.0,US45262BAG86,N,N,SEN,5,GKB92C
134773,2024-07-08,2031-11-15,1500000.0,US11135FBY60,N,N,SEN,7,1C248K
134785,2024-07-09,2032-07-17,1750000.0,US900123DL13,N,N,SEN,8,9J0135

In [ ]:
bonds["isin"].describe()

NameError: name 'bonds' is not defined