Drag this into the _data folder or setd directories for the parquet files

In [40]:
import pandas as pd

#CDSs = pd.read_parquet("markit_cds.parquet")
bonds = pd.read_parquet("mergent_bond.parquet")
mapping = pd.read_parquet("RED_and_ISIN_mapping.parquet")
wbonds = pd.read_parquet("wrds_bond.parquet")

In [41]:
mapping.dropna(inplace=True)
mapping["issuer_cusip"] = mapping.apply(lambda row: row['obl_cusip'][:6], axis = 1)	
mapping

      redcode      ticker  obl_cusip          isin    tier issuer_cusip
0      001AEC           T  001957AV1  US001957AV12  SNRFOR       001957
1      001AEC           T  001957BC2  US001957BC22  SNRFOR       001957
2      001AEC           T  001957AP4  US001957AP44  SNRFOR       001957
3      001AEC           T  001957BD0  US001957BD05  SNRFOR       001957
4      002AA6         ABT  002824AK6  US002824AK63  SNRFOR       002824
...       ...         ...        ...           ...     ...          ...
10374  YZ79AI       KAWAH  Y1636YAG3  XS0205831851  SNRFOR       Y1636Y
10375  YZ79CL  CITPAC-Fin  G2154WAA0  USG2154WAA02  SNRFOR       G2154W
10381  YZ7C7O      CMCOMP  G2233YAA1  USG2233YAA13  SNRFOR       G2233Y
10382  YZ9A6N     CTBCFIN  DUMYREFOB  XSNOREFOBL00  SNRFOR       DUMYRE
10383  YZAA86   DAHSIN-Bk  G2736LAB9  HK0000028842  SNRFOR       G2736L

[7667 rows x 6 columns]

<span style="color: Cyan; font-size: 35px">
USING NEW BONDS TABLE
</span>

In [42]:
wbonds.dropna(subset=["yield", "cusip", "isin"])
wbonds

,offering_date,company_symbol,maturity,amount_outstanding,security_level,yield,cusip,isin,rating_class,conv,offering_price,price_eom,t_spread,maturity_time_frame
date,,,,,,,,,,,,,,
2002-07-31,1993-10-12,AIR,2003-10-15,50000.0,SEN,0.048266,000361AB1,US000361AB18,1.HY,0.0,100.0,102.791000,NaN,10
2002-08-31,1993-10-12,AIR,2003-10-15,50000.0,SEN,0.043858,000361AB1,US000361AB18,1.HY,0.0,100.0,103.089000,NaN,10
2002-09-30,1993-10-12,AIR,2003-10-15,50000.0,SEN,0.041222,000361AB1,US000361AB18,1.HY,0.0,100.0,103.143000,NaN,10
2002-10-31,1993-10-12,AIR,2003-10-15,50000.0,SEN,0.038728,000361AB1,US000361AB18,1.HY,0.0,100.0,103.143000,NaN,10
2002-11-30,1993-10-12,AIR,2003-10-15,50000.0,SEN,0.040151,000361AB1,US000361AB18,1.HY,0.0,100.0,102.750000,0.034101,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-31,2024-03-25,BCS,2026-03-27,13748.0,SEN,0.003740,06745Q3E7,US06745Q3E77,1.HY,0.0,100.0,99.250000,NaN,2
2024-03-31,2024-03-25,BCS,2029-03-29,11765.0,SEN,0.003428,06748L453,US06748L4538,1.HY,0.0,100.0,9.828117,NaN,5
2024-04-30,2024-03-25,BCS,2029-03-29,11765.0,SEN,0.003485,06748L453,US06748L4538,1.HY,0.0,100.0,9.828117,NaN,5
2024-05-31,2024-03-25,BCS,2029-03-29,11765.0,SEN,0.003547,06748L453,US06748L4538,1.HY,0.0,100.0,9.828117,NaN,5
2024-03-31,2024-03-26,UBS,2026-03-30,26639.0,SEN,0.004925,90303D791,US90303D7912,1.HY,0.0,100.0,9.901010,NaN,2

In [43]:
redcode_mapping = mapping.set_index("obl_cusip")["redcode"].to_dict()

wbonds["redcode"] = wbonds["cusip"].map(redcode_mapping)
wbonds = wbonds.dropna(subset=['redcode', 'yield','price_eom']).set_index('offering_date')
wbonds.sort_index()

wbonds

,company_symbol,maturity,amount_outstanding,security_level,yield,cusip,isin,rating_class,conv,offering_price,price_eom,t_spread,maturity_time_frame,redcode
offering_date,,,,,,,,,,,,,,
1995-02-16,WYE,2005-02-15,1000000.0,SEN,0.052477,026609AE7,US026609AE79,0.IG,0.0,99.805,106.262285,0.013846,9,9HB326
1995-02-16,WYE,2005-02-15,1000000.0,SEN,0.040351,026609AE7,US026609AE79,0.IG,0.0,99.805,108.930922,0.006612,9,9HB326
1995-02-16,WYE,2005-02-15,1000000.0,SEN,0.035810,026609AE7,US026609AE79,0.IG,0.0,99.805,109.723387,0.007890,9,9HB326
1995-02-16,WYE,2005-02-15,1000000.0,SEN,0.036073,026609AE7,US026609AE79,0.IG,0.0,99.805,109.325787,0.004066,9,9HB326
1995-02-16,WYE,2005-02-15,1000000.0,SEN,0.037400,026609AE7,US026609AE79,0.IG,0.0,99.805,108.708000,0.004480,9,9HB326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02-15,INTC,2034-02-21,900000.0,SEN,0.050937,458140CL2,US458140CL20,0.IG,0.0,99.706,100.434590,0.000987,10,49D954
2024-02-22,CAT,2029-02-27,600000.0,SEN,0.048081,14913UAJ9,US14913UAJ97,0.IG,0.0,99.864,100.190175,0.000793,5,15DA2S
2024-02-22,CAT,2029-02-27,600000.0,SEN,0.046884,14913UAJ9,US14913UAJ97,0.IG,0.0,99.864,100.703493,0.000852,5,15DA2S
2024-02-22,ABBV,2029-03-15,2500000.0,SEN,0.047510,00287YDS5,US00287YDS54,0.IG,0.0,99.793,100.192487,0.000555,5,002AF5
2024-03-04,CB,2034-03-15,1000000.0,SEN,0.049459,171239AK2,US171239AK24,0.IG,0.0,99.648,100.398390,0.000779,10,1I835K